
@{
	ViewData["Title"] = "Prenotazioni";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext

@model List<PrenotazioneModel>


<h1 class="text-center m-5 TitoliSezioni">@ViewData["Title"]</h1>



<div class="container-fluid">

    <div class="row">
<div class="col-1"></div>
        <div class="col-10">
<div id="ModificaPostiResult">
    @*popolato da JavaScript*@
</div>

<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-hover table-light">

        <!--Table head-->
        <thead style="position: sticky;" bgcolor="#0C223F">
            <tr>
                <th>#</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Email</th>
                }
                <th>Viaggio</th>
                <th>Da</th>
                <th>A</th>
                <th>Data della prenotazione</th>
                @*<th>Data modifica</th>*@
                <th>Numero posti prenotati</th>
                <th>Numero posti rimamenti</th>
                <th>Prezzo unitario</th>
                <th>Modifica numero posti </th>
                <th> </th>
                <th> </th>
                
            </tr>
        </thead>

        <!--Table body-->
        <tbody>

            @for(int i =0; i < Model.Count; i++)
            {
                <tr>
                    <th scope="row">@(i+1)</th>
                    @if (User.IsInRole("Admin"))
                    {
                    <td>@(Model[i].IdUserNavigation.LastName)</td>
                    <td>@(Model[i].IdUserNavigation.FirstName)</td>
                    <td>@(Model[i].IdUserNavigation.Email)</td>
                    }
                    <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.IdAttrazioneNavigation.Titolo)</td>
                    <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.fromData.Date.ToString("yyyy-MM-dd"))</td>
                    <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.toData.Date.ToString("yyyy-MM-dd"))</td>
                    <td>@(Model[i].CreatedAt)</td>
                    @*<td>@(Model[i].DataModifica)</td>*@
                    <td>@(Model[i].NumPostiPrenotati)</td>
                    <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.numPosti)</td>
                    <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.prezzo) €</td>

                    <td class="text-align:center">
                        <input type="number" name="number" id="#@(i)numeroPostiModificati" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary full-width" onclick="ModificaPosti('@(Model[i].Id)','@(i)')">
                            Modifica Posti
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger full-width" onclick="CancellaPrenotazione('@(Model[i].Id)')">
                            Cancella Prenotazione
                        </button>
                    </td>
                </tr>
            }
            

        </tbody>

    </table>

</div>
    </div>
        <div class="col-1"></div>
    </div>
</div>