
@{
	ViewData["Title"] = "Viaggi disponibili";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext

@model List<CrossAttrazionePeriodoModel>


<h1 class="text-center m-5 TitoliSezioni">@ViewData["Title"]</h1>

<div class="container-fluid">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
<div id="PrenotaUserResult">
    @*popolato da JavaScript*@
</div>

<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-hover table-bordered table-light">

        <!--Table head-->
        <thead style="position: sticky;" bgcolor="#0C223F">
            <tr>
                <th>#</th>
               
                <th>Viaggio</th>
                <th>Da</th>
                <th>A</th>
                <th>Numero di posti disponibili</th>
                <th>Attivo</th>
                <th>Prezzo</th>
                
                @if (User.IsInRole("Admin"))
                {
                    <th>Numero di prenotazioni effettuate</th>
                }
                else
                {
                    <th>Scegli numero posti</th>
                }
               
                <th> </th>
                
            </tr>
        </thead>

        <!--Table body-->
        <tbody>

            @for(int i =0; i < Model.Count; i++)
            {
                <tr>
                    <th scope="row">@(i+1)</th>
                    
                    <td>@(Model[i].IdAttrazioneNavigation.Titolo)</td>
                    <td>@(Model[i].fromData)</td>
                    <td>@(Model[i].toData)</td>
                  
                    <td>@(Model[i].numPosti)</td>
                    <td>
                        @if((Model[i].attivo)== true)
                            {
                                <span class="material-symbols-outlined" style="color:green">
                                    event_available
                                </span>
                            }
                        else
                        {
                            <span class="material-symbols-outlined" style="color:red">
                                event_busy
                            </span>
                        }
                          
                    </td>
                    <td>@(Model[i].prezzo) €</td>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <td>@(Model[i].Prenotazioni.Sum(p => p.NumPostiPrenotati)) </td>
                     }
                    else
                    {
                        <td>
                            <input type="number" name="number" id="#@(i)numeroPostiScelti" />
                        </td>
                        
                    }
                       
                    

                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            
                            <button type="button" class="float-right btn btn-primary mt-3 mb-3 full-width" 
                            onclick="EliminaPeriodo('@(Model[i].Id)')">
                                Elimina
                            </button>
                           
                        }
                        else
                        {
                            <button type="button" class="float-right btn btn-primary mt-3 mb-3 full-width" 
                            onclick="PrenotaUser('@(Model[i].Id)','@(i)')">
                                Prenota
                            </button>
                        }
                       
                    </td>
                </tr>
            }
            

        </tbody>

    </table>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
