@if (User.IsInRole("Admin"))
{
	ViewData["Title"] = "Prenotazioni degli utenti";
}
else
{
    ViewData["Title"] = "Le mie prenotazioni";
}

@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext

@model List<PrenotazioneModel>


<h1 class="text-center m-5 TitoliSezioni">@ViewData["Title"]</h1>



<div class="container-fluid">

    <div class="row mr-5 ml-5">

            <div id="ModificaPostiResult">
                @*popolato da JavaScript*@
            </div>

            <div class="table-responsive text-nowrap">
                <!--Table-->
                 <table id="dtBasicExample" class="table table-hover table-bordered table-light">

                    <!--Table head-->
                    <thead>
                        <tr>
                        <th class="thCustom2">#</th>
                            @if (User.IsInRole("Admin"))
                            {
                        <th class="thCustom2">Cognome</th>
                        <th class="thCustom2">Nome</th>
                        <th class="thCustom2">Email</th>
                            }            
                        <th class="thCustom2">Viaggio</th>
                        <th class="thCustom2">Da</th>
                        <th class="thCustom2">A</th>
                        <th class="thCustom2">Creato il</th>
                                           
                        <th class="thCustom2">Posti prenotati</th>
                        <th class="thCustom2">Posti rimamenti</th>
                        <th class="thCustom2">Prezzo unitario</th>
                        @if (!User.IsInRole("Admin"))
                        {
                            <th class="thCustom2">Modifica numero posti </th>
                        }

                        <th class="thCustom2"> </th>
             
                        </tr>
                    </thead>

                    <!--Table body-->
                    <tbody class="text-center">

                        @for(int i =0; i < Model.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i+1)</th>
                                @if (User.IsInRole("Admin"))
                                {
                                <td>@(Model[i].IdUserNavigation.LastName)</td>
                                <td>@(Model[i].IdUserNavigation.FirstName)</td>
                                <td>@(Model[i].IdUserNavigation.Email)</td>
                                }
                                <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.IdAttrazioneNavigation.Titolo)</td>
                                <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.fromData.Date.ToString("dd/MM/yyyy"))</td>
                                            <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.toData.Date.ToString("dd/MM/yyyy"))</td>
                                <td>@(DateTime.Parse(Model[i].CreatedAt).ToString("dd/MM/yyyy"))</td>
                                <td>@(Model[i].NumPostiPrenotati)</td>
                                <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.numPosti)</td>
                                <td>@(Model[i].IdCrossAttrazionePeriodoNavigation.prezzo) €</td>
                            @if (!User.IsInRole("Admin"))
                            {
                                <td class="text-align:center">
                                    <input type="number" name="number" id="#@(i)numeroPostiModificati" style="width:30%;" />
                                    <button type="button" class="btn btn-primary full-width" onclick="ModificaPosti('@(Model[i].Id)','@(i)')">
                                        Modifica
                                    </button>
                                </td>
                            }
                           
                            <td class="text-align:center">
                                    <button type="button" class="btn btn-danger full-width" onclick="CancellaPrenotazione('@(Model[i].Id)')">
                                        Elimina
                                    </button>
                                </td>
                            </tr>
                        }
            

                    </tbody>

                </table>

                </div>
   
    </div>
</div>
