
@{
	ViewData["Title"] = "Viaggi disponibili";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext

@model List<CrossAttrazionePeriodoModel>

<style>

  

</style>

<h1 class="text-center m-5 TitoliSezioni">@ViewData["Title"]</h1>

<div class="container-fluid">

<div class="row mr-5 ml-5" >
       @* <div class="col-1"></div>
        <div class="col-10">*@
        <div id="PrenotaUserResult">
            @*popolato da JavaScript*@
        </div>

        <div class="table-responsive text-nowrap " >
                <!--Table-->
            <table id="dtBasicExample" class="table table-hover table-bordered table-light" >

                    <!--Table head-->
                <thead >
                    <tr >
                            <th class="thCustom1">#</th>
                            <th class="thCustom1">Viaggio</th>
                            <th class="thCustom1">Da</th>
                            <th class="thCustom1">A</th>
                            <th class="thCustom1">Posti disponibili</th>
                            <th class="thCustom1">Attivo</th>
                            <th class="thCustom1">Prezzo</th>
                
                            @if (User.IsInRole("Admin"))
                            {
                            <th class="thCustom1">Posti prenotati</th>
                            }
                            else
                            {
                            <th class="thCustom1" >Numero posti</th>
                            }

                        <th class="thCustom1"> </th>
                
                        </tr>
                    </thead>

                    <!--Table body-->
                    <tbody class="text-center">

                        @for(int i =0; i < Model.Count; i++)
                        {
                            <tr>
                                <td scope="row">@(i+1)</td>
                    
                                <td>@(Model[i].IdAttrazioneNavigation.Titolo)</td>
                                            <td>@(DateTime.Parse(Model[i].fromData).ToString("dd/MM/yyyy"))</td>
                                            <td>@(DateTime.Parse(Model[i].toData).ToString("dd/MM/yyyy"))</td>
                  
                                <td>@(Model[i].numPosti)</td>
                                <td>
                                    @if((Model[i].attivo)== true)
                                        {

                                    <span class="material-symbols-outlined" style="color:#2eb82e; font-size:30px;">
                                            event_available
                                        </span>
                                        
                                        
                                        }
                                    else
                                    {
                                    <span class="material-symbols-outlined" style="color:#e60000;font-size:30px;">
                                            event_busy
                                        </span>
                                    }
                          
                                </td>
                                <td>@(Model[i].prezzo) €</td>
                    
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>@(Model[i].Prenotazioni.Sum(p => p.NumPostiPrenotati)) </td>
                                 }
                                else
                                {
                                    <td>
                                        <input type="number" name="number" placeholder="Scegli numero di posti" id="#@(i)numeroPostiScelti" />
                                    </td>
                        
                                }



                            <td class="text-align:center">
                                    @if (User.IsInRole("Admin"))
                                    {
                            
                                        <button type="button" class="btn btn-primary full-width"
                                        onclick="CancellaCrossAttrazionePeriodo('@(Model[i].Id)')">
                                            Elimina
                                        </button>
                           
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary full-width" 
                                        onclick="PrenotaUser('@(Model[i].Id)','@(i)')">
                                            Prenota
                                        </button>
                                    }
                       
                                </td>
                            </tr>
                        }
            

                    </tbody>

                </table>
           @* </div>*@
           </div>
        @*<div class="col-1"></div>*@
    </div>
</div>
