@*@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@model List<VillaggioVacanze.Models.AttrazioneModel> 


@{
    ViewData["Title"] = "Home Page";
}*@
@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext


@model List<VillaggioVacanze.Models.AttrazioneModel>

<div class="container-fluid">

    <div class="row">

        <div id="demo" class="carousel slide col-12" data-ride="carousel">

            <div class="carousel-inner">
            @for (int i = 0; i < Model.Count; i++)
            {

                    <div class="carousel-item @(Model[i] == Model.First() ? "active" : "")">
                        <img src="Immagini/@(Model[i].Titolo).jpg" alt="Slide No @(i)" class="d-block w-100 item">
                        <div class="carousel-caption">
                            <a class="TitleCarousel">Villaggio Vacanze</a>
                            <br>
                            <a class="SubTitleCarousel">Vivi il tuo viaggio!</a>
                        </div>
                    </div>

                   
            }
                </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </div>
</div>




<!-- CARDS -->
<div class="container-fluid containerCards">

    <h1 class="text-center m-5 TitoliSezioni"> I nostri viaggi</h1>

    <!-- Cards -->
    <div class="row mt-5">



        @for(int i = 0; i<Model.Count; i++)
        {
           @* <div class="col-4">*@
            <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-0">
                @*<div class="card img-fluid" style="width:500px">*@
                    <div class="card">
                    <img class="card-img-top" src="Immagini/@(Model[i].Titolo).jpg" alt="@Model[i].Titolo" style="width:100%">
                   @* <div class="card-img-overlay">*@
                    <div class="card-body">
                        <h4 class="card-title">@Model[i].Titolo</h4>
                        <p class="card-text">a partire da @Model[i].AttrazioniPeriodi.Min(m=>m.prezzo)</p>
                        <p class="card-text">@Model[i].Descrizione</p>
                        @*<a href="#" class="btn btn-primary">See Profile</a>*@

                        <a class="btn btn-primary mt-3 mb-3 full-width"  data-toggle="collapse" href="#T@(Model[i].IdAttrazione)">
                            Dettagli
                        </a>
                    </div>
                    <div id="T@(Model[i].IdAttrazione)" class="collapse">
                        <p>
                            <b>Company:</b>
                            
                        </p>
                        <p>
                            <b>Phone:</b>
                            
                        </p>
                        <p>
                            <b>Website:</b>
                           
                        </p>
                    </div>
                    </div>
                </div>
          
        }


       
            
       


    </div>

</div>




<!-- Guide -->
<div class="container-fluid containerCards ">
    <h1 class="m-5 TitoliSezioni"> Le vostre guide </h1>


        <div class="card" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="/Immagini/Persona1.jpg" alt="Persona1">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">Persona1</h5>
                    <p class="card-text">My name is Stefano Tiozzo, I was born in Turin in 1985, and I’m a landscape photographer, documentarist and soryteller specialized in travel and nature. After graduating in dentistry and working as a dentist for 9 years, my passion for travel, nature, photography and storytelling turned out into a life purpose, so in 2016 I left my medical career and dedicated my life in being a witness of the endless beauty of the world. My YouTube channel is one of the most relevant travel channels in Italy, and I run photography workshops all over the world, mainly focused in Iceland, Lapland and Arctic destinations. In my career I have been partnering with Canon, Alitalia, Ferrino, Salewa, Reale Mutua Assicurazioni, Levissima, Ritter Sport, Treedom, Booking, MAN, Edreams and for the European Commission..</p>
                        
                    </div>
                </div>
            </div>
        </div>

        <br />

    <div class="card" style="width: 100%;">
        <div class="row no-gutters">
            <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">Persona2</h5>
                <p class="card-text">My name is Persona2, I was born in Turin in 1985, and I’m a landscape photographer, documentarist and soryteller specialized in travel and nature. After graduating in dentistry and working as a dentist for 9 years, my passion for travel, nature, photography and storytelling turned out into a life purpose, so in 2016 I left my medical career and dedicated my life in being a witness of the endless beauty of the world. My YouTube channel is one of the most relevant travel channels in Italy, and I run photography workshops all over the world, mainly focused in Iceland, Lapland and Arctic destinations. In my career I have been partnering with Canon, Alitalia, Ferrino, Salewa, Reale Mutua Assicurazioni, Levissima, Ritter Sport, Treedom, Booking, MAN, Edreams and for the European Commission..</p>
                </div>
            </div>
            <div class="col-sm-5">
                <img class="card-img" src="/Immagini/Persona2.jpg" alt="Persona2">
            </div>
            
                
           
        </div>
    </div>


</div>