@{
	ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager


@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext


@model List<VillaggioVacanze.Models.AttrazioneModel>

<!-- CAROUSEL -->
<div class="container-fluid">

	<div class="row">

		<div id="demo" class="carousel slide col-12" data-ride="carousel" data-interval="2000">

			<div class="carousel-inner">
				@for (int i = 0; i < Model.Count; i++)
				{

					<div class="carousel-item @(Model[i] == Model.First() ? "active" : "")">
						<img src="Immagini/@(Model[i].Titolo).jpg" alt="Slide No @(i)" class="d-block w-100 item">
						<div class="carousel-caption">
							<a class="TitleCarousel">Villaggio Vacanze</a>
							<br>
							<a class="SubTitleCarousel">Un viaggio, infinite emozioni</a>
						</div>
					</div>


				}
			</div>

			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>

	</div>
</div>

<!-- CARDS -->
<div class="container-fluid containerCards reveal">

	<h1 class="text-center m-5 TitoliSezioni"> I nostri viaggi</h1>

	<!-- Cards -->
	<div class="row mt-5">



		@for (int i = 0; i < Model.Count(); i++)
		{

			<div class="col-sm-10 offset-sm-1 col-md-4 offset-md-0">
				@*se non sei loggato le vedi tutte (disponibili o no)*@
				@if (!SignInManager.IsSignedIn(User))
					{
					<div class="card cardViaggi">
						<div class="card-img-wrap">
							<img class="card-img-top" src="Immagini/@(Model[i].Titolo).jpg" alt="@Model[i].Titolo" style="width:100%">
						</div>
						<div class="card-body">
							<h3 class="card-title text-center">@Model[i].Titolo</h3>
							<p class="card-text">Prezzi a partire da @Model[i].AttrazioniPeriodi.Min(m=>m.prezzo) €</p>
							<a class="btn btn-primary mt-3 mb-3 full-width" data-toggle="collapse" href="#T@(Model[i].IdAttrazione)">
								Dettagli
							</a>
							<div id="T@(Model[i].IdAttrazione)" class="collapse">
								<p class="card-text p-2">@Model[i].Descrizione</p>
							</div>

							@if (SignInManager.IsSignedIn(User))
							{
								<a class="float-right btn btn-primary mt-3 mb-3 full-width" asp-area="" asp-controller="Prenotazione" asp-action="PrenotaViaggi">
									Prenota
								</a>
							}

						</div>
					</div>
					}
				@* se ti loggi invece vedi opache quelle terminate*@
				else
				{
					@*se sono tutte attive nei periodi*@
					@if (Model[i].AttrazioniPeriodi.Any(a => a.attivo == true))
						{
						<div class="card cardViaggi">
							<div class="card-img-wrap">
								<img class="card-img-top" src="Immagini/@(Model[i].Titolo).jpg" alt="@Model[i].Titolo" style="width:100%">
							</div>
							<div class="card-body">
								<h3 class="card-title text-center">@Model[i].Titolo</h3>
								<p class="card-text">Prezzi a partire da @Model[i].AttrazioniPeriodi.Min(m=>m.prezzo) €</p>
								<a class="btn btn-primary mt-3 mb-3 full-width" data-toggle="collapse" href="#T@(Model[i].IdAttrazione)">
									Dettagli
								</a>
								<div id="T@(Model[i].IdAttrazione)" class="collapse">
									<p class="card-text p-2">@Model[i].Descrizione</p>
								</div>

								@if (SignInManager.IsSignedIn(User))
								{
									<a class="float-right btn btn-primary mt-3 mb-3 full-width" asp-area="" asp-controller="Prenotazione" asp-action="PrenotaViaggi">
										Prenota
									</a>
								}

							</div>
						</div>
						}
					else
						{
						<div class="card cardViaggi" style="opacity:0.4">
							<div class="card-img-wrap">
								<img class="card-img-top" src="Immagini/@(Model[i].Titolo).jpg" alt="@Model[i].Titolo" style="width:100%">
							</div>
							<div class="card-body">
								<h3 class="card-title text-center">@Model[i].Titolo</h3>
								<p class="card-text">Prezzi a partire da @Model[i].AttrazioniPeriodi.Min(m=>m.prezzo) €</p>
								<a class="btn btn-primary mt-3 mb-3 full-width" data-toggle="collapse" href="#T@(Model[i].IdAttrazione)">
									Dettagli
								</a>
								<div id="T@(Model[i].IdAttrazione)" class="collapse">
									<p class="card-text p-2">@Model[i].Descrizione</p>
								</div>

								@if (SignInManager.IsSignedIn(User))
								{
									<a class="float-right btn btn-primary mt-3 mb-3 full-width" asp-area="" asp-controller="Prenotazione" asp-action="PrenotaViaggi">
										Prenota
									</a>
								}

							</div>
						</div>
						}
				}
				
					


					
					
				</div>
			

		}







	</div>

</div>

<!-- GUIDE -->
<div class="container-fluid containerCards reveal">
	<h1 class="m-5 TitoliSezioni"> Le vostre guide </h1>

	<div  class="row">
		<div class="card" style="width: 70%;" id="cardPersona1Body">
			<div class="row no-gutters" id="cardPersona1">
				<div class="col-4 card-img-wrap">
					<img class="card-img" src="/Immagini/Persona1.jpg" alt="Persona1">
				</div>
				<div class="col-8">
					<div class="card-body" >
						<h5 class="card-title"> <b>Davide & Vanessa</b> dicono di loro...</h5>
						<p class="card-text">Nel corso degli anni abbiamo imparato che descriversi con precisione non è facile. Le esperienze, le persone che abbiamo vicino e le situazioni della vita ci cambiano, ci plasmano. Abbiamo imparato ad adattarci a ciò che arriva senza chiedere, a cambiare sempre per essere una persona migliore, a crescere con ogni esperienza. Viaggiare simboleggia per noi la libertà di aprirsi al nuovo, di uscire dalla zona di comfort per mettersi alla prova e scoprire se stessi da un altro punto di vista per diventare la versione migliore di se stessi.</p>

					</div>
				</div>
			</div>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col-4"> </div>
		<div class="card col-8" style="width: 70%;" id="cardPersona2Body">
			<div class="row no-gutters" id="cardPersona2">
				<div class="col-8">
					<div class="card-body" >
						<h5 class="card-title"><b>Raffaella & Chiara</b> dicono di loro...</h5>
						<p class="card-text">La nostra passione è viaggiare, l'avreste mai detto? ;) Viaggiamo per conoscere e metterci alla prova in nuovi contesti. È così che abbiamo scoperto che il mondo offre mille possibilità per la felicità. Nella vita di tutti i giorni ci occupiamo di programmare siti web per viaggi ma nei nostri break siamo sempre alla ricerca di nuove esperienze. Con voi abbiamo voglia di condividere il nostro entusiasmo, partiamo insieme per nuove avventure?</p>
					</div>
				</div>
				<div class="col-4 card-img-wrap">
					<img class="card-img" src="/Immagini/Persona2.jpg" alt="Persona2">
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="card" style="width: 70%;" id="cardPersona3Body">
			<div class="row no-gutters" id="cardPersona3">

				<div class="col-4 card-img-wrap">
					<img class="card-img" src="/Immagini/Persona3.jpg" alt="Persona3">
				</div>
				<div class="col-8">
					<div class="card-body">
						<h5 class="card-title"><b>Daniele</b> dice di lui...</h5>
						<p class="card-text">Ho sempre pensato che viaggiare mi aiutasse a spingermi oltre i miei limiti, affrontando sfide e immergendomi in avventure senza fine. Che siano esplorazioni di antiche rovine, o trekking lungo percorsi mozzafiato, immersioni in acque cristalline o esplorazioni di città affollate, ogni passo ci porta più vicini alla scoperta di noi stessi e del mondo che ci circonda. Vorrei avere l’opportunità di condividere queste esperienze con persone straordinarie, che condividano la mia stessa passione e poter scambiare con loro storie, sorrisi e abbracci.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- COMMENTI -->
<div class="container-fluid containerCards reveal">
	<h1 class="m-5 TitoliSezioni"> I nostri clienti </h1>

	<div class="container-fluid containerRecensioni">
		<h2 class="h2Recensioni mt-4"> Se ancora hai dubbi.. </h2>
		<p class="description">
			Leggi le ultime recensioni che ci hanno lasciato i clienti!
		</p>

		<!-- Sezione recensioni -->
		<div class="reviewSection">

			<!-- Rec.1 -->
			<div class="reviewItem">
				<div class="top">
					<div class="clientImage">
						<img src="~/Immagini/Cliente1.png" alt="">
						<span>Mario Rossi</span>
					</div>
					<ul>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
					</ul>
				</div>
				<article>
					<p class="review">
						Viaggio spettacolare organizzato benissimo da Raffaella e Vanessa. Sono stato un cliente molto esigente e fastidioso: ogni richiesta e' stata tuttavia soddisfatta con prefessionalita'. a chiunque debba andare in Giappone consiglio vivamente di prenotare da loro!!
					</p>
					<p>10/05/2023</p>
				</article>
			</div>

			<!-- Rec.2  -->
			<div class="reviewItem">
				<div class="top">
					<div class="clientImage">
						<img src="~/Immagini/Cliente2.png" alt="">
						<span>Francesca Verdi</span>
					</div>
					<ul>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-regular fa-star"></i></li>
					</ul>
				</div>
				<article>
					<p class="review">
						Tutto organizzato benissimo, le guide che ci hanno accompagnato durante il viaggio si sono rivelate sempre molto professionali, le strutture consigliate all’altezza degli standard attesi ed anche le tempistiche di viaggio sono state ottime. Grazie a Chiara e Davide per l’ottimo lavoro svolto.
					</p>
					<p>15/05/2023</p>
				</article>
			</div>

			<!-- Rec.3  -->
			<div class="reviewItem">
				<div class="top">
					<div class="clientImage">
						<img src="~/Immagini/Cliente3.png" alt="">
						<span>Marta Martini</span>
					</div>
					<ul>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
						<li><i class="fa-solid fa-star"></i></li>
					</ul>
				</div>
				<article>
					<p class="review">
						Un'esperienza da 10 e Lode, è stato tutto meraviglioso. Ci teniamo a sottolineare l'amore e la passione con cui queste persone svolgono il loro lavoro, l'attenzione e la premura che mettono nel preparare quello che per noi è stato un sogno che speriamo di ripetere prossimamente.
					</p>
					<p>23/05/2023</p>
				</article>
			</div>
		</div>
	</div>

</div>